body {
    margin:0;   
    font-family:Arial, Helvetica, sans-serif;
    
}
.sec1{
    background-color:#F0B775;
      
}


.header{
    display:flex;
    justify-content: flex-end;
    height: 55px;
    background-color:#FD5959;
    padding: 0px 150px 0px 150px;

}

.left{
    flex:1;
    color:#f9faf8;
    font-size: 24px;
    font-weight: 600;
    justify-content: flex-start;
    align-self: center;

}

.right{
    display:flex;
    font-size:18px;
    align-items:center;
    gap: 15px;
    color:#E5E7EB;
}

.head{
    height: 185px;
    display:flex;
    padding: 100px 150px 100px 150px;
    gap: 40px;
    flex-grow:0;
}

.headleft{
    flex:1; 
    padding:0;
    height: 215px;
    

}

.headright{
    flex:1 0 0;
    height:215px; 
    overflow: hidden; 
}
/* Moze i ovako slika  ^
    background-image: url(img.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; */
#pool{
 width:117%;
   
}
    
.heading{
    color:#f9faf8;
    font-size: 48px;
    font-weight: 1000;
    margin:0px;
   padding:0px; 
}

#head{
    color:#f9faf8;
    font-size: 18px;
    color:#E5E7EB;
    margin:0px;
    padding:0px;
    margin-top: 12px;
}

.signup{
    color:#f9faf8;
    background-color: #2E94B9;
    margin-top:12px;
    padding:4px;
    margin-right:206px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align: center;
    font-weight: 600;

}

.sec2{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 360px;

}

.sec2heading{
font-size:36px;
font-weight: 600px;
color: #FD5959;


}

.sec2container1{
    display:flex;
    gap:26px;
border:2px;

}

.fix{
    display:flex;
    flex-direction: column;
}
.sec2container2{
    flex:1;
    
border:3px;
    height:150px;
    width:150px;
    margin-bottom: 25px;
border-style: solid;
border-color: #FD5959;
border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
}

.sec2text{
    color:#FD5959;
    text-align: center;
    margin-top: -13px;
}

.sec2img1{
    height:150px;
    width:150px;
    background-image: url(images/venice.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.sec2img2{
    height:150px;
    width:150px;
    background-image: url(images/paris.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.sec2img3{
    height:150px;
    width:150px;
    background-image: url(images/crete.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.sec2img4{
    height:150px;
    width:150px;
    background-image: url(images/barcelona.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    
}

.sec3{
    height:200px;
    background-color: #FD5959;
    text-align: flex-start;
    padding-top:83px;
}

.quote{
    margin:auto;
    height: 100px;
    width: 395px;
    font-size: 30px;
    font-style: italic;
color:#f9faf8;
}

.autor{
    margin-left: 610px;
font-size:24px;
font-style: italic;
color: #f9faf8;

}

.sec4{
    display:flex;
    background-color:#F0B775;
    height: 250px;
}

.book{
    width:600px;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 26px;
    margin:auto;
    background-color: #2E94B9;
    padding: 40px;
    display:flex;
    justify-content: space-around;
    color:#f9faf8;
}

.signup2{
    color:#f9faf8;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align:center;
    padding-top: 12px;
    font-weight: 600;
    width:100px;
    border-color:floralwhite ;
    border:2px;
    border-style: solid;
    background-color: #2E94B9;
}

.footer{
    background-color:#FD5959;
    text-align: center;
    height:55px;
  padding: 20px;
box-sizing: border-box;
color:#f9faf8;
}

a {
    text-decoration: none;
    color:white;
}
